---
layout: page
id: about
hastitle: true
title: About the Fab Foundation
hasdescription: true
description:
  - paragraph: >-
      Formed in 2009 to facilitate and support the growth of the international
      fab lab network as well as the development of regional capacity-building
      organizations. The Fab Foundation is a US non-profit 501(c) 3 organization
      that emerged from MIT’s Center for Bits & Atoms Fab Lab Program. Our
      mission is to provide access to the tools, the knowledge and the financial
      means to educate, innovate and invent using technology and digital
      fabrication to allow anyone to make (almost) anything, and thereby
      creating opportunities to improve lives and livelihoods around the world.
      Community organizations, educational institutions and non-profit concerns
      are our primary beneficiaries.
hasjumplinks: true
jumplinks:
  - link: Programs and Services
    url: programs-services
  - link: Become a Partner
    url: become-a-partner
  - link: Donations / Grants
    url: donations-grants
  - link: Fab Foundation Board
    url: board-team
  - link: Organizational Reporting
    url: financial-reports
background-img: kidglasses.jpg
---

{% include fixed/blue-claims.html texts=site.data.home.about-claims %}
{% include fixed/services-cards.html texts=site.data.about.about-services %}
{% include fixed/become-a-partner.html texts=site.data.about.become-a-partner %}
{% include fixed/donations-full.html texts=site.data.about.donations-grants %}
{% include fixed/people-cards.html texts=site.data.about.team-board %}
{% include fixed/people-cards.html texts=site.data.about.team-staff %}
{% include fixed/people-cards.html texts=site.data.about.past-team-staff %}
{% include fixed/bullet-lists.html texts=site.data.about.financial-reports %}
{% include fixed/posts-gallery.html %}

