---
layout: page
id: about
hastitle: true
title: Fab Foundation Deployment and services
hasdescription: true
description:
  - paragraph: >-
      The Fab Foundation offers services around the creation of Fab Labs, from design of the space all the way to purchasing, transport and installation of the lab. Additionaly, the Foundation offers consultancy services to help make your future lab sustainable and to connect it in aa meaningful way to both the local and global networks. The Fab Foundation is uniquely poised to offer these services due to our historical and extensive work developing Fab Labs around the world and coordinating and managing the international Fab Lab network. Longer term technical training and professional development for faculty and Fab Lab managers can be accommodated through the longer term engagement of a top level Fab Lab mentor from the global Fab Lab network and the enrollment of local students and faculty in the sessions of the worldwide Fab Academy.
hasjumplinks: true
jumplinks:
  - link: Design and consultancy
    url: design
  - link: Procurement and shipping
    url: procurement
  - link: Installation and training
    url: installation
  - link: Workshops and extended training
    url: extended
  - link: Our team
    url: theteam
background-img: kidglasses.jpg
---

{% include fixed/blue-claims.html texts=site.data.home.deployment-claims %}
{% include fixed/services-cards.html texts=site.data.deployment.deployment-services %}
{% include fixed/become-a-partner.html texts=site.data.deployment.clients %}
{% include fixed/people-cards.html texts=site.data.deployment.team %}


