---
layout: page
id: education
hastitle: true
title: Educational Programs
hasdescription: true
description:
  - paragraph: >-
      The Fab Foundation has been working since 2009 bringing digital
      fabrication tools and processes to people of all ages, teaching the skills
      and knowledge of digital fabrication, developing global distributed
      programs on digital fabrication, synthetic biology, interactive textiles
      and more to come. Check out the different programs and educational
      services that the Foundation offers!
hasjumplinks: true
jumplinks:
  - link: Academany
    url: academany-full
background-img: making.jpg
---

{% include fixed/twitter-subpage.html %}
{% include fixed/section.html texts=site.data.education.academany-intro %}
{% include fixed/services-cards.html texts=site.data.education.academany-courses %}
{% include fixed/posts-gallery.html %}