---
layout: page
id: education
hastitle: true
title: "Educational Programs"
hasdescription: true 
description:
  - paragraph: "The Fab Foundation has been working since 2009 bringing digital fabrication tools and processes to people of all ages, teaching the skills and knowledge of digital fabrication, developing global distributed programs on digital fabrication, synthetic biology, interactive textiles and more to come. Check out the different programs and educational services that the Foundation offes!"
background-img: making.jpg
---

{% include fixed/twitter-subpage.html %}
{% include fixed/section.html texts=site.data.education.academany-full %}
{% include fixed/services-cards.html texts=site.data.education.fabacademy %}
{% include fixed/section.html texts=site.data.education.scopes-full %}
{% include fixed/services-cards.html texts=site.data.education.other-projects %}
{% include fixed/posts-gallery.html %}