---
layout: page_pdf
id: fab-union
hastitle: true
title: Fab UNION
hasdescription: true
description:
  - paragraph: >-
      <p><b>Fab Union</b> In partnership with the Union Square community, Fab Foundation is proposing to establish Fab Union, a community focused center for teaching, learning, research and economic opportunity in the historic fire station, one that would recognize and honor the history of Union Square, and pilot the future with the community as co-creator. Fab Union, a Flagship Fab Lab, will serve as a local STEAM education resource as well as a global portal, connecting Somerville to a network of 2,000+ fab lab communities around the world.</p>
      <p><b>What is Fab Foundation?</b> Fab Foundation is steward for a global network of more than 2000 digital fabrication labs, or fab labs, in more than 150 countries, all of which bring free access to the tools and processes of technology innovation and personal expression to communities across the world. Our mission is to provide access to the tools, the knowledge and the financial means to educate, innovate and invent, using technology and digital fabrication to allow anyone, anywhere,  to make (almost) anything, and thereby create opportunities to improve lives and livelihoods everywhere. Fab Foundation is a non-profit, 501(c)3 organization, bridging the digital divide.</p>
      <p><b>What is a Fab Lab?</b> Fab Lab is an abbreviation for Fabrication Laboratory, a concept developed at the Center for Bits and Atoms at MIT.  It comprises a curated collection of off-the-shelf, industrial-grade,  design, fabrication and electronics tools. Fab labs include computer controlled  laser cutters, sign cutters,  high-resolution milling machines, 3D printers, digital sewing machines, CNC routers and a suite of electronic components and programming tools for low-cost, high speed circuit design and prototyping.  It is what is known in industry as a rapid prototyping facility.  Fab labs allow individuals across a very wide spectrum of skills and abilities to design and build almost anything that they can imagine. At the practical level this means that users are empowered to create and build items, from self-powering radios, to laptop computers, to furniture, right through to the fabrication of the built environment. </p>
hasjumplinks: true
jumplinks:
  - link: The Opportunity
    url: opportunity
  - link: The Community Collaboration
    url: community
  - link: The Place
    url: place
  - link: Public programs
    url: features
  - link: Participate and Show your Support
    url: participate
  - link: FAQs
    url: faq
  - link: Survey
    url: survey
background-img: making.jpg
---

{% include fixed/section.html texts=site.data.fab-union.opportunity %}
{% include fixed/section.html texts=site.data.fab-union.community %}
{% include fixed/section.html texts=site.data.fab-union.place %}
{% include fixed/section.html texts=site.data.fab-union.features %}
{% include fixed/section.html texts=site.data.fab-union.participate %}
{% include fixed/section.html texts=site.data.fab-union.faq %}
{% include fixed/section.html texts=site.data.fab-union.form %}
