---
layout: page
id: Fab16BostonHub
hastitle: true
title: Join us for FAB16 - Boston Hub!
hasdescription: true
description:
  - paragraph: >-
      <p>Join us for FAB16: Boston Hub!</p> 
      <p>A week-long celebration of Making, Innovation, Art and Manufacturing in the Greater Boston area.  
      August 8 to August 14, 2021</p>
      <p>CLICK HERE TO VIEW THE FULL BOSTON SCHEDULE AND REGISTER FOR EVENTS</p>

hasjumplinks: false
jumplinks:
  - link: Schedule
    url: BostonSchedule
background-img: education-bg.jpg
---

{% include fixed/services-cards.html texts=site.data.bostonhub.about %}
{% include fixed/section.html texts=site.data.home.Fab16_Boston %}
{% include fixed/posts-gallery.html %}