---
layout: page
id: Fab16BostonHub
hastitle: true
title: Join us for FAB16 - Boston Hub!
hasdescription: true
description:
  - paragraph: >-
      <p>A week-long celebration of Making, Innovation, Art and Manufacturing in the Greater Boston area.  
      August 8 to August 14, 2021</p>
      <p>CLICK THE LINK BELOW TO VIEW THE FULL BOSTON SCHEDULE AND REGISTER FOR EVENTS</p>

hasjumplinks: true
jumplinks:
  - link: Schedule Boston Hub Fab 16
    url: bostonschedule
background-img: education-bg.jpg
---

{% include fixed/services-cards.html texts=site.data.bostonhub.about %}
{% include fixed/section.html texts=site.data.bostonhub.schedule %}
{% include fixed/services-cards.html texts=site.data.bostonhub.locations %}
{% include fixed/posts-gallery.html %}
