---
layout: page
id: Fab16BostonHub
hastitle: true
title: FAB16 Saturday Festivals! Join us in Cambridge and Somerville!
hasdescription: true
description:
  - paragraph: >-
      <p><iframe src="https://drive.google.com/file/d/1rENQCGxrcdOW5Fr1-q3S9hnAtIxUzfEE/preview" allow="autoplay" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:900px;width:100%;border:none;overflow:hidden;">></iframe></p>

hasjumplinks: true
jumplinks:
  - link: Schedule Boston Hub Fab 16
    url: bostonschedule
background-img: education-bg.jpg
---

{% include fixed/services-cards.html texts=site.data.bostonhub.festival %}
{% include fixed/posts-gallery.html %}