---
layout: page
id: Fab16BostonHub
hastitle: true
title: FAB16 Festivals Saturday, August 14! Join us in Cambridge and Somerville!
hasdescription: true
description:
  - paragraph: >-
      <p><iframe src="https://drive.google.com/file/d/1BLvnSnUdPpEo76XoqScsWnmNtCAYlyu_/preview" allow="autoplay" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:1400px;width:100%;border:none;overflow:hidden;">></iframe></p>

hasjumplinks: true
jumplinks:
  - link: To go the the Boston Hub Fab 16 page, click here
    url: https://fabfoundation.org/fab16bostonhub/
background-img: education-bg.jpg
---

{% include fixed/services-cards.html texts=site.data.bostonhub.festival %}
{% include fixed/posts-gallery.html %}
