---
layout: page
id: fiab
hastitle: true
title: Presenting the newest version of Fab-in-a-Box, our low-cost, high-impact digital fabrication kit purpose-built for education!
hasdescription: true
description:
  - paragraph: >-
      Through numerous feedback sessions and product iterations, we’ve identified two major driving factors in the design concept: cost and user-friendliness. Our goal has always been to provide a turnkey solution integrating everything that’s needed to get started with digital fabrication on a single, mobile cart—at an affordable price. With the latest round of improvements, we believe that Fab-in-a-Box will bring learning to life for anyone, anywhere.
hasjumplinks: false
background-img: fiab/fiab_banner.jpeg
---

{% include fixed/section-fiab.html texts=site.data.fiab.top %}
{% include fixed/project-cards-fiab.html texts=site.data.fiab.fiab %}
{% include fixed/posts-gallery.html %}
