---
layout: page
id: getting-started
hastitle: true
title: Getting Started with Fab Labs
hasdescription: true
description:
  - paragraph: This is an example page intrduction paragraph.
hasjumplinks: true
jumplinks:
  - link: What is a Fab Lab?
    url: fablabs-full
  - link: How to Start a Fab Lab
    url: fablabs-accordion
  - link: Mobile Fab Lab
    url: mobile-fablab
background-img: making.jpg
---

{% include fixed/fablabs-vignettes.html texts=site.data.getting-started.fablabs-vignettes %}
{% include fixed/fablabs-accordion.html texts=site.data.getting-started.fablabs-accordion %}
{% include fixed/section.html texts=site.data.getting-started.mobile-fablab %}
