---
layout: page
id: global-community
hastitle: true
title: "Global Community"
hasdescription: false
description:
  - paragraph: ""
background-img: education-bg.jpg
---

{% include fixed/fablabs-vignettes.html texts=site.data.global-community.fablabs-vignettes %}
{% include fixed/fablab-map.html texts=site.data.global-community.fablab-map %}
{% include fixed/fablabs-accordion.html texts=site.data.global-community.fablabs-accordion %}
{% include fixed/section.html texts=site.data.global-community.mobile-fablab %}
{% include fixed/posts-gallery.html %}