---
layout: page
id: global-community
hastitle: true
title: Fab Lab Network
hasdescription: true
description:
  - paragraph: >-
      The Fab Lab Network is an open, creative community of fabricators,
      artists, scientists, engineers, educators, students, amateurs,
      professionals, of all ages located in more than 90 countries in
      approximately 1,500 Fab Labs. From community based labs to advanced
      research centers, Fab Labs share the goal of democratizing access to the
      tools for technical invention. This community is simultaneously a
      manufacturing network, a distributed technical education campus, and a
      distributed research laboratory working to digitize fabrication, inventing
      the next generation of manufacturing and personal fabrication.
  - paragraph: >-
      Below you will find an overview of fab labs,  information on the global
      network, and all of the resources needed to start a lab in your local
      community!
hasjumplinks: true
jumplinks:
  - link: Fab Labs and Fab Lab Network
    url: fablabs-full
  - link: How to Start a Fab Lab
    url: fab-lab-questions
  - link: Fab Lab Resources
    url: resources-fablabs
  - link: Fab Foundation Forum
    url: fab-foundation-forum
  - link: Fablabs.io
    url: fablab-map
  - link: Mobile Fab Lab
    url: mobile-fablab
background-img: education-bg.jpg
---

{% include fixed/fablabs-vignettes.html texts=site.data.global-community.fablabs-vignettes %}
{% include fixed/fablab-map.html texts=site.data.global-community.fablab-map %}
{% include fixed/fablabs-accordion.html texts=site.data.global-community.fablabs-accordion %}
{% include fixed/section.html texts=site.data.global-community.fab-foundation-forum %}
{% include fixed/resources-sponsor-cards.html texts=site.data.global-community.resources-fablabs %}
{% include fixed/section.html texts=site.data.global-community.mobile-fablab %}
{% include fixed/posts-gallery.html %}