---
layout: page
id: education
hastitle: true
title: A GLOBAL HEADQUARTERS
hasdescription: true
description:
  - paragraph: >-
     The Fab Foundation, in partnership with Boston Properties (BXP), is excited to announce the establishment of our global headquarters in the heart of Kendall Square in Cambridge, MA. Located at 325 Main Street, the new facility is conceived as a living laboratory, a place for learning and experimentation to develop best practices in technical education, manufacturing, and community outreach.  
hasjumplinks: false
jumplinks:
  - link: Academany
    url: academany-full
background-img: making.jpg
---

{% include fixed/hq-subpage.html %}
{% include fixed/section_hq.html texts=site.data.hq.hq-intro %}
{% include fixed/services-cards.html texts=site.data.hq.hq-topics %}
{% include fixed/section_hq.html texts=site.data.hq.hq-end %}
{% include fixed/hq-subpage-end.html %}
{% include fixed/posts-gallery.html %}
