---
layout: default
---

{% include fixed/blm.html %}
{% include fixed/section.html texts=site.data.home.fabevents %}
{% include fixed/section.html texts=site.data.home.fablabs %}
{% include fixed/blue-questions.html texts=site.data.home.questions-audiences %}
{% include fixed/section.html texts=site.data.home.academany %}
{% include fixed/section.html texts=site.data.k-12.scopes-full %}
{% include fixed/donations-alert.html texts=site.data.home.donate %}
{% include fixed/section.html texts=site.data.home.congress %}
{% include fixed/partners.html texts=site.data.home.partners  %}
