---
layout: page
id: k-12
hastitle: true
title: K-12 Education Page
hasdescription: false
description:
  - paragraph: >-
      The Fab Foundation has been working since 2009 bringing digital
      fabrication tools and processes to people of all ages, teaching the skills
      and knowledge of digital fabrication, developing global distributed
      programs on digital fabrication, synthetic biology, interactive textiles
      and more to come. Check out the different programs and educational
      services that the Foundation offers!
hasjumplinks: true
jumplinks:
  - link: Teacher PD
    url: services
  - link: Consultation and Design
    url: services
  - link: Student Programming
    url: services
  - link: Educational Mobile Fab Lab
    url: other-projects
  - link: Digital Fabrication Lesson Plans
    url: scopes-full
background-img: education-bg.jpg
---

{% include fixed/services-cards.html texts=site.data.k-12.teacherpd %}
{% include fixed/services-cards.html texts=site.data.k-12.consultation %}
{% include fixed/services-cards.html texts=site.data.k-12.programming %}
{% include fixed/services-cards.html texts=site.data.k-12.other-projects %}
{% include fixed/section.html texts=site.data.k-12.scopes-full %}
{% include fixed/posts-gallery.html %}