---
layout: page
id: getting-started
hastitle: true
title: Getting Started with Fab Labs
hasdescription: true
description:
  - paragraph: >-
      The Fab Foundation can help you create your Fab Lab from A to Z - we have helped create labs in over 20 countries, and offer services from the design of the lab to procurement and shipping of the machines and materials to installation and training. We can also work with you on the projects and serivces the lab can offer, and elaborate a business plan with you to make sure the lab is sustainable in it's operations. 
hasjumplinks: true
jumplinks:
  - link: What is a Fab Lab?
    url: fablabs-full
  - link: How to Start a Fab Lab
    url: fab-lab-questions
  - link: Mobile Fab Lab
    url: mobile-fablab
  - link: Fablab Guide (ext.)
    url: https://bit.ly/fablabguide
background-img: making.jpg
---

{% include fixed/fablabs-vignettes.html texts=site.data.procurement-services.fablabs-vignettes %}
{% include fixed/fablabs-accordion.html texts=site.data.procurement-services.fablabs-accordion %}
{% include fixed/section.html texts=site.data.procurement-services.mobile-fablab %}
