---
layout: page
id: procurement-services
hastitle: true
title: Creating a Fab lab, from design to installation and training
hasdescription: true
description:
  - paragraph: >-
      The Fab Foundation can help you create your Fab Lab from A to Z - we have helped create labs in over 20 countries, and offer services from the design of the lab to procurement and shipping of the machines and materials to installation and training. We can also work with you on the projects and serivces the lab can offer, and elaborate a business plan with you to make sure the lab is sustainable in it's operations. 
hasjumplinks: true
jumplinks:
  - link: Services we offer
    url: fablabs-full
  - link: Our methods
    url: fab-lab-questions
  - link: Want to know more?
    url: mobile-fablab
background-img: making.jpg
---

{% include fixed/fablabs-vignettes.html texts=site.data.procurement-services.services-vignettes %}
{% include fixed/fablabs-accordion.html texts=site.data.procurement-services.our-method %}
{% include fixed/section.html texts=site.data.procurement-services.learn-more %}
