---
layout: page
id: projects-initiatives
hastitle: true
title: "Projects and Initiatives"
hasdescription: true 
description:
  - paragraph: "We support the development of local and international projects and initiatives around digital fabrication, education, and open source technologies. From sustainable wireless internet infrastructure to fabbing solar houses to tracking global environmental data to creating opportunities for self-expression, the Fab Lab network is building a growing list of projects that benefit community in many different ways."
hasjumplinks: false
background-img: fab13symposium.jpg
---

{% include fixed/project-cards.html texts=site.data.projects-initiatives.projects-initiatives %}
{% include fixed/posts-gallery.html %}