---
layout: page
id: resources
hastitle: true
title: "Research and Data"
hasdescription: true 
description:
  - paragraph: >- 
        "The Fab Foundation offers the community a list of resources to learn, to research and to build. 
        Below you will find a list of documents to browse and to download!<br><br/><br>Do you have a 
        research paper or article relevant to the fab community that you'd like to share? 
        Submit your paper <a href="https://forms.fabfoundation.org/publication/add"target="_blank">here!</a><br/>"
hasjumplinks: true
background-img: global-bg.jpg
---

{% include fixed/resources-cards.html texts=site.data.resources.resources-research %}
{% include fixed/resources-cards.html texts=site.data.resources.resources-data %}
{% include fixed/posts-gallery.html %}