---
layout: page
id: teacherinnovator
hastitle: true
title: 2020 Teacher Innovator Award
hasdescription: true
description:
  - paragraph: "Over the past few months, educators and students have been experienceing particularly challenging circumstances. In spite of this, teachers are innovating and finding ways to get quality learning experiences to their students, and we want to acknowledge them with the 2020 Teacher Innovator Award!"
---

{% include customizable/services-cards.html texts=site.data.Teacher-innovator.teacher-innovator-2 %}
{% include customizable/section.html texts=site.data.Teacher-innovator.teacher-innovator %}