header {
    height:900px;
    /*
    background-attachment: scroll;
    background-image: url('{{ site.baseurl }}/img/header-bg.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    */
}

/*big text fixed width*/
header .intro-box {
    /*width:550px;*/
}



/*small text*/

header .intro-box {
    /*width:520px;*/
    position: absolute;
    bottom: 0px;
    padding: 30px 50px;
    background-color:  #f7f3ff;
    /*box-shadow: 10px 6px 51px #0003;*/
}


header .intro-box .intro-heading {
    margin-bottom: 20px;
    font-size: 1.0em;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}


header .intro-box .intro-sub-heading {
    margin-bottom: 20px;
    font-size: 0.75em;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;    
}


header .intro-box .intro-mission {
    margin-bottom: 30px;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 20px;
    text-transform: none;
}


@media(min-width:768px) {

    header .intro-box {
    
    }

}

/*small text*/