<!DOCTYPE html>
<html lang="en">
  {% include fixed/head.html %}
  <body id="page-top" class="index">
    <img
      src="{{ site.baseurl }}/uploads/making.jpg"
      class="page-bg"
      alt="Making"
    />
    <video
      autoplay
      loop
      muted
      poster="{{ site.baseurl }}/uploads/making.jpg"
      id="background-video"
    >
      <source
        src="{{ site.baseurl }}/uploads/ff-trailer-small.mp4"
        type="video/mp4"
      />
      <source
        src="{{ site.baseurl }}/uploads/ff-trailer-small.webm"
        type="video/webm"
      />
    </video>
    {% include fixed/navbar.html %} {% include fixed/header.html %} {% include
    fixed/twitter.html %} {% include fixed/blue-indicators.html
    texts=site.data.home.impact-numbers %}

    {{ content }}
    {% include fixed/subscribe.html %} {% include fixed/mailchimp-modal.html %}
    {% include fixed/footer.html %} {% include fixed/js.html %}
  </body>
</html>
