<!DOCTYPE html>
<html>
  {% include fixed/head.html %}
  {% include fixed/navbar.html %}
  {% include fixed/js.html %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fab Foundation Global Headquarters</title>
    <link rel="stylesheet" href="/css/hq.css">
</head>

<body>

<!-- first page --> 
    <div class="container_hq">
        <div class="left_hq">
            <h1>A GLOBAL HEADQUARTERS</h1>
            <p>The Fab Foundation, in partnership with Boston Properties (BXP), is excited to announce the establishment of our global headquarters in the heart of Kendall Square in Cambridge, MA. Located at 325 Main Street, the new facility is conceived as a living laboratory, a place for learning and experimentation to develop best practices in technical education, manufacturing, and community outreach.</p>
            </br>
            <a href="https://fabfoundation.us19.list-manage.com/subscribe?u=703cd11616d78536ae5d303eb&id=17254e5774" target="_blank"><button>Sign Up to stay updated</button></a>
        </div>
        <div class="right_hq" style="background-image: url('{{ site.baseurl }}/uploads/hq/hq_main.jpg')"></div>
    </div>

<!-- Second page -->

<div class="container2">
    <h2>About Us</h2>
    <div class="description">
        The Fab Foundation is a U.S. nonprofit 501(c)(3) that emerged from MIT’s Center for Bits and Atoms in 2009. Our mission is to provide access to the tools, knowledge, and means to educate, innovate, and invent using technology and digital fabrication to allow anyone to make (almost) anything, thereby creating new pathways to economic opportunity.
    </div>
    <div class="pillars">
        <div class="pillar">
            <img src="{{ site.baseurl }}/uploads/hq/dot_edu.png" alt="EDU Icon">
            <h3>.EDU</h3>
            <p>Democratizing access to digital fabrication technology and education by providing tools and resources</p>
        </div>
        <div class="pillar">
            <img src="{{ site.baseurl }}/uploads/hq/dot_com.png" alt="COM Icon">
            <h3>.COM</h3>
            <p>Supporting a global network of over 2,700 Fab Labs in 135 countries, fostering collaboration and knowledge exchange</p>
        </div>
        <div class="pillar">
            <img src="{{ site.baseurl }}/uploads/hq/dot_org.png" alt="ORG Icon">
            <h3>.ORG</h3>
            <p>Promoting innovation and sustainable development by encouraging digital fabrication for social good</p>
        </div>
    </div>
    <div class="footer">
        These pillars ensure the Fab Foundation leads in education, community, and sustainable innovation globally.
    </div>
</div>

<!-- Third page -->
<div class="container_hq">
    <div class="right_hq" style="background-image: url('{{ site.baseurl }}/uploads/hq/fablab_hq.jpg');"></div>
    <div class="left_hq" style="background-color: #4A6FB2;">
        <p>We are an anchor organization for the international maker movement. For 15 years, we have served as steward of the global Fab Lab Network—a community of more than 2,700 public digital fabrication laboratories in 135 countries—supporting initiatives in education, social impact, and economic development, especially for those who have been historically excluded from such essential elements of a healthy society.</p>
        <p>Our new headquarters and flagship Fab Lab will serve as a connection point between the Cambridge community and the international Fab Lab Network. The facility is intended to empower individuals to leverage technology development and expertise in the service of artistic expression, entrepreneurship, social justice, and climate action. We hope to engage a wide range of partners with a variety of programs and offerings:</p>
    </div>
</div>

<!-- 4th page -->
<div class="container" style="padding-top: 100px;padding-bottom: 100px;">
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object" src="{{ site.baseurl }}/uploads/hq/flagship.jpg" alt="State-of-the-Art Digital Fabrication Facility" style="width:200px;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">State-of-the-Art Digital Fabrication Facility</h4>
                    <p>Including lasers, large CNC machines, precision CNC milling machines, 3D printers, NC cutting machines, molding and casting, digital sewing machines, electronics design, production tools, and more</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object" src="{{ site.baseurl }}/uploads/hq/research_hq.jpg" alt="Research Center for Sustainable Living and Manufacturing" style="width:200px;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Research Center for Sustainable Living and Manufacturing</h4>
                    <p>Supporting an international community of makers engaged in circular economy research and practices through the Fab City Global Initiative: a global public-private partnership of 50 cities across the world, including Somerville, Cambridge, and Boston</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object" src="{{ site.baseurl }}/uploads/hq/fablab_people_hq.jpg" alt="Global Education & Innovation Training Center" style="width:200px;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Global Education & Innovation Training Center</h4>
                    <p>Supporting STEAM learning through professional development; workforce training in technology and digital skills; technical education through the Academany portfolio; prototyping support and training for local entrepreneurs, subject matter experts, and artists</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object" src="{{ site.baseurl }}/uploads/hq/community_hq.jpg" alt="Community-Access Facility" style="width:200px;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Community-Access Facility</h4>
                    <p>Offering free public-access hours for after-school programming, community-benefit projects, and initiatives and collaborations with local organizations</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 5th page -->
<div class="container" style="background-color:#3358a8;padding-top:100px;padding-bottom:100px;display:flex;width:auto;">
    <div class="center-block row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-primary">What we offer</h3>
                    </br>
                    <ul>
                        <li>K-12 STEM education</li>
                        <li>Teaching and learning through digital fabrication</li>
                        <li>Research in sustainable manufacturing and circular economy practices</li>
                        <li>Workforce development for the digital economy</li>
                        <li>Entrepreneurship support</li>
                        <li>A global community of practice</li>
                        <li>Art and personal expression</li>
                        <li>A culture of innovation</li>
                        <li>Community resilience</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-primary">Who we serve</h3>
                    </br>
                    <ul>
                        <li>K-12 schools and districts</li>
                        <li>Universities</li>
                        <li>Individual educators and students</li>
                        <li>Informal or alternative education organizations</li>
                        <li>STEM organizations</li>
                        <li>Libraries</li>
                        <li>Community centers</li>
                        <li>Youth and families</li>
                        <li>Nonprofits</li>
                        <li>Entrepreneurs</li>
                        <li>Corporations</li>
                        <li>Independent businesses</li>
                        <li>Industry organizations</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 6th page -->
<div class="container" style="display:flex;width:auto;padding:100px 100px;">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ site.baseurl }}/uploads/hq/hq_bottom.jpg" alt="Building Image" class="img-hq-responsive">
        </div>
        <div class="col-md-6">
            <p style="font-size:1em;">
                <em>We extend our sincere gratitude to Boston Properties (BXP) for their generous commitment to this work and this community, Cambridge Redevelopment Authority for their vision and their trust in our work, and Kendall Square Association for bringing all the partners together to make this possible.</em>
            </p>
            <h4 class="text-hq-primary">GET INVOLVED</h4>
            </br>
            <p>Our new Kendall Square facility will open to the public in the summer of 2025. If you’re interested in partnering with us for development opportunities, content programming, K-12 school engagement, professional prototyping, community service projects, or to become a volunteer or an intern, please write to us at: <a href="mailto:HQ@fabfoundation.org">HQ@fabfoundation.org</a></p>
            <a href="#" class="text-hq-danger">Get more information by subscribing ></a>
        </div>
    </div>
</div>

<!-- 7th page -->
<div class="container" style="display:flex;width:auto;background-color:#3358a8;padding-top:100px;padding-bottom:100px;">
    <div class="center-block row">
        <div class="col-md-12">
            <h3 class="text-hq-primary text-cente" style="font-size:2em;">Local Historical Partners and Collaborators</h3>
            </br>
            </br>
            <div class="row" style="color:white;">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>1LT Charles W. Whitcomb School</li>
                        <li>Another Course to College</li>
                        <li>Arlington Middle School</li>
                        <li>Artisan’s Asylum</li>
                        <li>Beebe School</li>
                        <li>Boston Arts Academy</li>
                        <li>Boston Celtics Shamrock Foundation</li>
                        <li>Boston Green Academy</li>
                        <li>Breed Middle School</li>
                        <li>Dassault Systémes / SolidWorks</li>
                        <li>Dearborn STEM Academy</li>
                        <li>East Boston High School</li>
                        <li>Edward M. Kennedy Academy for Health Careers</li>
                        <li>English High School</li>
                        <li>Excel High School</li>
                        <li>Fab City Somerville</li>
                        <li>Fabville</li>
                        <li>Fenway High School</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>Forest Park Middle School</li>
                        <li>Forestdale School</li>
                        <li>Formlabs</li>
                        <li>GE Foundation</li>
                        <li>George Keverian School</li>
                        <li>Hackspace, City of Somerville</li>
                        <li>Haystack Mountain School of Crafts</li>
                        <li>James P. Timilty School</li>
                        <li>Jeremiah E. Burke High School</li>
                        <li>John D. O'Bryant School of Mathematics & Science High School</li>
                        <li>Lilia G. Frederick Pilot Middle School</li>
                        <li>Madison Park Technical & Vocational High School</li>
                        <li>Marshall Middle School</li>
                        <li>McCormack Middle School</li>
                        <li>McKinley South End Academy</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>Mel King’s South End Technology Center</li>
                        <li>New Mission High School</li>
                        <li>Pickering Middle School</li>
                        <li>Snowden International School</li>
                        <li>SOMERNOVA</li>
                        <li>Sumner G. Whittier School</li>
                        <li>TechBoston Academy</li>
                        <li>The Community Academy of Science and Health</li>
                        <li>Urban Science Academy</li>
                        <li>West Roxbury High School</li>
                        <li>West Somerville Library</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="container-fluid" style="background-color: #000; color: #fff; padding: 50px 0;">
    <div class="row">
        <div class="col-md-6 text-center">
            <h3 style="color:white;font-size:1.5em;">Empowering Innovation</h3>
            <div class="social-icons">
                <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <address>
                The Fab Foundation<br>
                50 Milk St., 16th Fl<br>
                Boston, MA 02109 USA
            </address>
        </div>
    </div>
</div>


</body>
</html>
