<!DOCTYPE html>
<html>

  {% include fixed/head.html %}


    <body id="page-top" class="index" onload="loaded()" style="background-color: transparent;">

    {% include fixed/navbar.html %}

    <div class="page-content" style="margin-top: 80px;">

        <div id="page-body">
        <center>{{ content }}</center>
        </div>
    </div><!--close page-content-->

    <!--
    {% include fixed/subscribe.html %}
    {% include fixed/mailchimp-modal.html %}
    {% include fixed/footer.html %}
    {% include fixed/js.html %}
    -->

    </body>
</html>
