<!--Contact section template -->
<section id="{{ include.texts.id }}">
    <div class="container standard" style="padding-top: 0px;">
        <div class="sub-container">
            <form action="https://formspree.io/{{ include.texts.mailto }}" method="POST">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-md-6">
                        <div class="control-group form-group">
                            <input type="text" class="form-control" placeholder="Your Name *" required data-validation-required-message="Please enter your name."  name="name">
                        </div>
                        <div class="control-group form-group">
                            <input type="email" class="form-control" placeholder="Your Email *" name="_replyto" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="control-group form-group">
                            <textarea class="form-control" placeholder="Your Message *" required data-validation-required-message="Please enter a message." name="message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class ="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-clear">{{ include.texts.button }}</button>
                    </div>
                </div>
            </form>
        </div><!-- close sub-container --> 
    </div> <!-- close container -->
</section>

