<!--Standard section template -->
<section id="elements">    
    <div class="container standard">
        <div class="sub-container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="section-heading">This is a standard section title</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p class="section-subheading">This is a standard section sub-text, lorem ipsum dolor sit amet conseqteteurer dolor sit amat, roselin god for to huid resquelquer to mid gasteuer.</p>
                </div>
                <div class="col-md-12">
                    <p> Lorem ipsum dolor sit amet, eos viris appetere efficiendi ne, te alii vivendo percipit est, ut sea brute munere omnesque. No pri utamur patrioque, fugit verterem mea in. Cu putent salutatus adolescens vis, et nemore intellegam vel. His aliquid vulputate at. Nam sale virtute ex. Populo equidem incorrupte eos ut, aeterno suscipit cum id. </p>
                </div>
            </div>
            <div class ="row">
                <div class="col-md-12">
                    <h4>This is a sub-element title</h3>
                </div>
                <div class="col-md-12 body-text">
                    <p> Lorem ipsum dolor sit amet, eos viris appetere efficiendi ne, te alii vivendo percipit est, ut sea brute munere omnesque. No pri utamur patrioque, fugit verterem mea in. Cu putent salutatus adolescens vis, et nemore intellegam vel. His aliquid vulputate at. Nam sale virtute ex. Populo equidem incorrupte eos ut, aeterno suscipit cum id. </p>
                    <p> Lorem ipsum dolor sit amet, eos viris appetere efficiendi ne, te alii vivendo percipit est, ut sea brute munere omnesque. No pri utamur patrioque, fugit verterem mea in. Cu putent salutatus adolescens vis, et nemore intellegam vel. His aliquid vulputate at. Nam sale virtute ex. Populo equidem incorrupte eos ut, aeterno suscipit cum id. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="" class="page-scroll btn btn-blue">This is a blue button</a>
                    <a href="" class="page-scroll btn btn-clear">This is a clear button</a>
               </div>
               <div class="col-md-12">
                    <h4>And for special call to actions:</h3>
                </div>
                <div class="col-md-12">
                    <a href="" class="page-scroll btn btn-red">This is a red button</a>
                </div>
            </div>
        </div><!-- close sub-container --> 
    </div> <!-- close container -->

</section>

