<!--Expandable accordion template -->
<section id="{{ include.texts.id }}" data-aos="fade-up">  
    <div class="container standard" id="accordion">
        <div class="sub-container">
            {% if include.texts.hastitle == true %}
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="section-heading">{{ include.texts.title }}</h3>
                    </div>
                </div>
            {% endif %}

            {% if include.texts.hassubtitle == true %}
            <div class="row">
                <div class="col-md-8">
                    <p class="section-subheading">{{ include.texts.subtitle }}</p>
                </div>
            </div>
            {% endif %}

            <div class="panel-group" id="{{ include.texts.accordionID }}" role="tablist" aria-multiselectable="true" data-aos="fade-right">
                {% for tab in site.data.getting-started.fablabs-accordion.tabs %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="{{ tab.id }}">
                        <h3 class="h3-inverted panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ tab.click }}" aria-expanded="true" aria-controls="{{ tab.click }}">
                                <i class="short-full glyphicon glyphicon-plus"></i>
                                {{ tab.title }}
                            </a>
                        </h3>
                    </div>
                    <div id="{{ tab.click }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ tab.id }}">
                        <div class="panel-body" id="panel-text">
                            {% for paragraph in tab.paragraphs %}
                            <p>{{ paragraph.p }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div><!-- panel-group -->

        </div><!--close subcontainer -->
    </div><!--close container -->
</section>

<script>
    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".short-full")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
