<!--Twitter subpage module template -->
<div class="container no-padding twitter-subpage" id="twitter-page">
	<div class="row no-side-margin text-center twitter-space" style="display: flex;" >
	    <div class="col-md-6 service-img" style="background-image: url('{{ site.baseurl }}/uploads/hq/hq_bottom.jpg');"></div>
	    
        <div class="col-md-6 tweet-box" data-aos="fade-left">
            <div class="tweet-subpage box-grow">
                <p>Our new Kendall Square facility will open to the public in the summer of 2025. If you’re interested in partnering with us for development opportunities, content programming, K-12 school engagement, professional prototyping, community service projects, or to become a volunteer or an intern, please write to us at: HQ[AT]fabfoundation.org.</p>
            </div>
        </div>           
    </div>
    </div><!-- close twitter-space -->
</div> <!-- close container-->
