<!--Twitter subpage module template -->
<div class="container no-padding twitter-subpage" id="twitter-page">
	<div class="row no-side-margin text-center twitter-space" style="display: flex;" >
	    <div class="col-md-6 service-img" style="background-image: url('{{ site.baseurl }}/uploads/hq/hq_main.jpg');"></div>
	    
        <div class="col-md-6 tweet-box" data-aos="fade-left">
            <div class="tweet-subpage box-grow">
                <p>The Fab Foundation is a U.S. nonprofit 501(c)(3) that emerged from MIT’s Center for Bits and Atoms in 2009. Our mission is to provide access to the tools, knowledge, and means to educate, innovate, and invent using technology and digital fabrication to allow anyone to make (almost) anything, thereby creating new pathways to economic opportunity. 
</p>
            </div>
        </div>           
	     </a>

    </div><!-- close twitter-space -->
</div> <!-- close container-->
