<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

<!--Twitter call for last tweet home mosaic-->
<script src="{{ "/js/twitter-call.js" | prepend: site.baseurl }}"></script>

<!--Twitter call for last tweet home mosaic-->
<script src="{{ "/js/twitter-call-academany.js" | prepend: site.baseurl }}"></script>

<!-- Slow Appear Effect -->
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="{{ "/js/demoUtils.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    AOS.init({
        duration: 1200,
    })
</script>

<!-- Banner Carousel -->
<script type="text/javascript">
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
</script>

<!-- Menu -->
<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }
</script>

<!-- Background Video -->
<script>
    (function () {
        /**
         * Video element
         * @type {HTMLElement}
         */
        var video = document.getElementById("background-video");
        /**
         * Check if video can play, and play it
         */
        if (video) {
            video.addEventListener("canplay", function () {
                video.play();
            });
        }
    })();
</script>

<script>
    $(document).scroll(function () {
        if ($(window).scrollTop() > 800) {
            $("#background-video").hide();

        } else if ($(window).scrollTop() < 800) {
            $("#background-video").show();
        }
    });
</script>