<!-- Partners Home Section  -->
<section id="sponsors" class="section-home">  
    <div class="container standard">
        <div class="sub-container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">{{ include.texts.title }}</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <p class="section-subheading">{{ include.texts.text }}
                </div>
            </div>
            
            <div class="row sponsor-row" data-aos="fade-right">
                {% for sponsor in include.texts.sponsors %}
                       <a href="{{ sponsor.url }}" target="_blank">
                           <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                            <span class="sponsor">
                                <div class="icon"><img class="sponsor-img" src="{{ site.baseurl }}/uploads/{{ sponsor.img }}"> </div>
                            </span>
                            </div>
                        </a>
                {% endfor %}
            </div><!--row-->

            {% if include.texts.hasbuttons == true %}
            <div class="row text-center">
                <div class="col-md-12">
                    {% for button in include.texts.buttons %}
                        {% if button.type == 'clear' %}
                            <a data-aos="fade-right" href="{{ button.url }}" class="page-scroll btn btn-clear" target="_blank">{{ button.title }}</a>
                        {% else button.type == 'red' %}
                            <a data-aos="fade-right" href="{{ button.url }}" class="page-scroll btn btn-red" target="_blank">{{ button.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div><!--container-->  
</section> 