<!-- Partners Home Section  -->
<section id="sponsors" class="section-home">  
    <div class="container standard">
        <div class="sub-container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">Our contributors</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <p class="section-subheading">Being a partner or contributor of the Fab Foundation is contributing to our relentless mission to bridge the digital divide, bringing digital fabrication technologies and resources closer to the future generations of entrepreneurs, community leaders, scientists, and citizens that need the spaces, the learning communities and the resources to bring their ideas closer to life.
                </div>
            </div>
            
            <div class="row sponsor-row" data-aos="fade-right">
                {% for sponsor in include.texts.sponsors %}
                       <a href="{{ sponsor.url }}" target="_blank">
                           <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                            <span class="sponsor">
                                <div class="icon"><img class="sponsor-img" src="{{ site.baseurl }}/uploads/{{ sponsor.img }}"> </div>
                            </span>
                            </div>
                        </a>
                {% endfor %}
            </div><!--row-->

            {% if include.texts.hasbuttons == true %}
            <div class="row text-center">
                <div class="col-md-12">
                    {% for button in include.texts.buttons %}
                        {% if button.color == 'clear' %}
                            <a data-aos="fade-right" href="{{ button.url }}" class="page-scroll btn btn-clear" target="_blank">{{ button.title }}</a>
                        {% else button.color == 'red' %}
                            <a data-aos="fade-right" href="{{ button.url }}" class="page-scroll btn btn-red" target="_blank">{{ button.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div><!--container-->  
</section> 