<!--People or Projects Cards Template -->
<section id="{{ include.texts.id }}">
    <div class="container standard">
        <div class="sub-container">
            <div class="row">
                <div class="col-md-12">
                    <h3 data-aos="fade-up" class="section-heading">{{ include.texts.title }}</h3>
                </div>            
            </div>
            <div class="team-module">
                {% for item in include.texts.cards %}
                <div class="row no-side-margin team-box" data-aos="fade-up">
                    <div class="col-md-3 no-side-padding">
                        <div class="row no-side-margin team-img">
                            <img src="{{ site.baseurl }}/uploads/{{ item.img }}">
                        </div>
                        <div class="row no-side-margin social-row">
                            <ul class="list-inline social-buttons">
                                {% for network in item.social %}
                                <li>
                                    <a href="{{ network.url }}">
                                        <i class="fab fa-{{ network.title }}"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul> 
                        </div>
                    </div>
                    <div class="col-md-9 team-text">
                        <h3 style="margin-bottom: 0px;">{{ item.name }} </h3>    
                        <h4 style="text-transform: none;">{{ item.position }}</h4>
                        {% for paragraph in item.bio %}
                        <p>{{ paragraph.p }}</p>
                        {% endfor %}
                    </div>   
                </div> 
                {% endfor %}
            </div>
        </div><!-- close sub-container -->
    </div> <!-- close container -->
</section>