<!--Latest News Sub-pages Module -->
<section id="{{ include.texts.id }}" data-aos="fade-up">  
    <div class="container standard">
        <div class="sub-container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="section-heading">Latest News</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <p class="section-subheading">Keep in touch with all the latest activities and news from the Fab Foundation and the global Fab Lab Network.</p>
                </div>
            </div>

            <!--Post gallery -->

           
            <div class="row">
                {% for post in site.posts limit:3 %}
                    <div class="col-md-4 col-sm-6 portfolio-item" data-aos="fade-right">
                        <a class="portfolio-link" href="{{ post.url | relative_url }}" target="_blank">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-2x"></i>
                                </div>
                            </div>
                            <div class="portfolio-img" style="background-image: url('{{ site.baseurl }}/{{ post.thumbnail }}');"> </div>
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                {% endfor %}
            </div> 
            <div class="row more-news-alert">
                <div class="col-md-12 text-right">
                <a href="{{ site.baseurl }}/news" target="_blank"><h6 class="more-button" > More news ></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline social-buttons-large">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}">
                                <i class="fab fa-{{ network.title }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div><!-- close sub-container --> 
    </div> <!-- close container -->
</section>

