<!--Project-cards template -->
<div id="{{ include.texts.id }}" class="container no-padding projects-module">
  {% for project in include.texts.cards %} {% if project.bgcolor == 'lightblue'
  %}
  <div
    id="{{ project.id }}"
    class="row no-side-margin project-card"
    style="background-color: #1b3ab1;"
  >
    {% else %}
    <div
      id="{{ project.id }}"
      class="row no-side-margin project-card"
      style="background-color: #1935a7;"
    >
      {% endif %}

      <div
        class="col-sm-6 col-md-6 project-img"
        style="background-image: url('{{ site.baseurl }}/uploads/{{
          project.img
        }}');"
      ></div>
      <div class="col-sm-6 col-md-6 project-text" data-aos="fade-left">
        <div class="project-title">
          <h3 class="h3-inverted">{{ project.title }}</h3>
        </div>
        <div class="project-description">
          {% for paragraph in project.description %}
          <p class="p-inverted">{{ paragraph.p }}</p>
          {% endfor %}
        </div>
        {% if project.has_external_link == true %}
        <a href="{{ project.url }}"
          ><h6 class="h6-inverted link-grow">Learn More ></h6>
        </a>
        {% else %}
        <a href="{{ site.baseurl }}/{{ project.url }}"
          ><h6 class="h6-inverted link-grow">Learn More ></h6>
        </a>
        {% endif %}
      </div>
    </div>
    <!-- close project-card -->
    {% endfor %}
  </div>
  <!-- close container-->
</div>
