<!--Standard section template -->
<section id="{{ include.texts.id }}">  
    <div class="container standard" style="min-height: 300px;">
         <div class="sub-container">
            <div id="home-search" class="home">
                <script>
                  (function() {
                    var cx = '006332145955243257692:5buvvbnhai0';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                  })();
                </script>
                <gcse:search></gcse:search>
            </div>

        </div><!-- close sub-container --> 
    </div> <!-- close container -->
</section>


