<!--Fiab section template -->
<section id="{{ include.texts.id }}" data-aos="fade-up">
  <div class="container standard">
    <div class="sub-container">
    
    {% if include.texts.hastitle == true %}
      <div class="row">
        <div class="col-md-8">
          <h3 class="section-heading">{{ include.texts.title }}</h3>
        </div>
      </div>
      {% endif %}
      
      {% if include.texts.hassubtitle == true %}
      <div class="row">
        <div class="col-md-8">
          <p class="section-subheading">{{ include.texts.subtitle }}</p>
        </div>
      </div>
      {% endif %}

      {% if include.texts.haslongtext == true %}
      <div class="row text-center" data-aos="fade-right">
        <div class="col-md-12 body-text">
          <p>{{ include.texts.longtext }}</p>
        </div>
      </div>
      {% endif %}

      <div class="row">
            <img
              src="{{ site.baseurl }}/uploads/fiab/assembly_01.jpeg"
              style="width:300px;"
              class="img-thumbnail"
              alt=""
            />
            <img
              src="{{ site.baseurl }}/uploads/fiab/assembly_02.jpeg"
              style="width:300px;"
              class="img-thumbnail"
              alt=""
            />
            <img
              src="{{ site.baseurl }}/uploads/fiab/assembly_03.jpeg"
              style="width:300px;"
              class="img-thumbnail"
              alt=""
            />
            <img
              src="{{ site.baseurl }}/uploads/fiab/fiab_01.jpeg"
              style="width:300px;"
              class="img-thumbnail"
              alt=""
            />
            </br>
            <img
              src="{{ site.baseurl }}/uploads/fiab/fiab_02.jpeg"
              style="height:400px;"
              class="img-thumbnail"
              alt=""
            />
            <img
              src="{{ site.baseurl }}/uploads/fiab/render_02.jpeg"
              style="height:400px;"
              class="img-thumbnail"
              alt=""
            />
      </div>
    </div>
    <!-- close sub-container -->
  </div>
  <!-- close container -->
</section>
