<!--Subscribe Module -->

<section id="subscribe" class="no-margin no-padding">
	<div class="container standard">
		<div class="sub-container" data-aos="fade-right">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8">
					<h4 class="h4-inverted" style="">Subscribe here to receive news and updates from the fab foundation!</h4>
					<!--<p class="p-inverted small"> We will send you periodical information about events, our activitites, and news regarding the network!</p>-->
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<a href="http://eepurl.com/gc2SKX" target="_blank" class="btn btn-gray link-grow" style="margin-top: 10px; float: right;">Keep me updated</a>
					
					<!--
					<a class="btn btn-gray link-grow" data-toggle="modal" data-target="#mailchimp" style="margin-top: 10px; float: right;">Keep me updated</a>-->
					
				</div>
			</div><!--row-->
		</div><!-- sub-container-->
	</div> <!--container-->
</section><!--group-->	
