<!--Terms and conditions section -->
    <div class="container standard">
        <div class="sub-container">
            <div class="row">
                <div class="col-md-8 address-box">
                    <p>Welcome to the Fab Foundation website. We want you to feel secure when you browse our website. Our website is subject to the following Terms and Conditions (Terms) and our Privacy Policy.</p></br>
                    <p>These Terms and Conditions (referred to as “Terms”) describe how the Fab Foundation operates its website “fabfoundation.org”. The Terms are designed to help our visitors, members, affiliates, advocates, subscribers, supporters, and/or volunteers understand the website's purpose. You may come across references or affiliates’ links. However, these Terms and Conditions are only applicable to this website.</p>
                  </br><p>We recommend that you carefully read, save, or download these Terms and Conditions before accessing and using our website (fabfoundation.org) or the privacy policies of any third-party websites you visit or services you use.</p>
                    <p>If you have any questions or concerns regarding these Terms and Conditions, please contact us at communciations@fabfoundation.org</p></br>
                <p>Terms of Use</p></br>
                <ul>
                  <li>Your access and use of fabfoundation.org is conditional upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access our website.</li>
                  <li>By accessing fabfoundation.org, you agree to be bound by these Terms. If you disagree with any part of these terms, you may not be able to access or use the website.</li>
                  <li>Fab Foundation may change these terms and conditions at any time by amending this page. Please check this page from time to time and take note of any changes. Your continued website use constitutes your acceptance of any modified terms and conditions.</li>
                  <li>You agree to use the website only for lawful purposes and in a manner that does not infringe on the rights, restrict, or inhibit the use and enjoyment of the website by any third-party.</li>
                </ul>
            </br>    <p>Intellectual Property Rights</p> </br>
                <ul>
                  <li>Use of our website and its content does not transfer or otherwise grant any user rights or interests in the Fab Foundation’s intellectual property rights or any intellectual property rights owned by third-party.</li>
                  <li>Commercial use or publication of the content on this website is strictly prohibited without prior authorization from the Fab Foundation. Nothing in these Terms and Conditions confers any license to use any content on this website.</li>
                  <li>Pages from our website may be printed or copied for personal use only. Our status, and that of any identified contributors, as the authors of material on our website, must always be acknowledged. You may not modify the content or digital copies of any materials you have printed or downloaded in any way.</li>
                  <li>Some images, texts, or videos have been published on the website with the permission of third-party copyright owners. All rights on these documents are reserved by these owners and permission to copy them must be requested from the individual copyright owners (the sources are indicated within these photos or videos under inspect). Please reach out to copyright@fabfoundation.org if you have questions or comments.</li>
                </ul>
            </br> <p>Links to Third-Parties</p> </br>
              <ul>
                <li>Our website may contain links to third-party websites, blogs, websites, or services that are not owned, operated, or controlled by the Fab Foundation.</li>
                <li>Fab Foundation has no control or authority over these third-party resources and assumes no responsibility for the content, privacy policies, or practices of any third-party websites, website or services. You acknowledge and agree that the Fab Foundation shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by, or in connection with, the use of or reliance on any such content, goods, or services available on or through any such websites or services.</li>
                <li>In no event shall the Fab Foundation or its third-party service providers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use, or inability to use, the materials.</li>
                <li>These Terms also apply but are not limited to the following third-party’ platforms used by the Fab Foundation:</li>
                  <ul>
                    <li>Google AdSense, Google Analytics with Anonymized IP, Piwik, Twitter Ads Conversion and WordPress Stats for developing user data advertise communication purposes by tracking interaction with our content and ads.</li>
                    <li>MailChimp for maintaining regular contact with our subscribers.</li>
                    <li>Facebook, YouTube, Instagram and Twitter buttons and social widgets to curate, display, and distribute rich media content.</li>
                    <li>Jetform or Google Forms for organizational surveys and questionnaires to increase brand identity, value, and equity.</li>
                    <li>AdWords Remarketing, Facebook Custom Audience, Facebook Remarketing, Remarketing through Google Analytics, Twitter Remarketing for remarketing and behavioral retargeting.</li>
                    <li>Feedburner and FeedPress for RSS feed distribution.</li>
                  </ul>
              </ul>
            </br> <p>Content Publication</p> </br>
            <p>The Fab Foundation takes no responsibility for the content owned and operated by third-party websites and has no control or authority over them. Although Fabfoundation.org may  include links to other websites, the Fab Foundation does note approve of or endorse any third-party website or the content of that website. The Fab Foundation does not accept liability for any statements, information, products, or services that are published on or are accessible through any websites owned or operated by third-parties.</p> </br>
            <p>To access and use the Fab Foundation website, you must comply with these Terms and Conditions and, in particular, the content standards below:</p>
            <ul>
              <li>You warrant that with these Terms and Conditions, and you indemnify us for any breach of that warranty (you as the user must reimburse the Fab Foundation for any costs incurred as a result of breaching these standards).</li>
              <li>Any communication or material transmitted or submitted via Fab Foundation webforms, including any data, questions, comments, suggestions, or the like, will be treated as non-confidential and non-proprietary information.</li>
              <li>The Fab Foundation will not be responsible or liable to any third-party for the content or accuracy of any materials submitted by you or any other user of our website.</li>
            </ul>
            </br> <p>User License</p> </br>
            <p>Permission to download copies of the material on the Fab Foundation website is granted only for personal, non-commercial transitory viewing. This is the grant of a license, not a transfer of title.Under this license, users may not:</p>
            <ul>
              <li>Use the material for any commercial purpose or for any public display (commercial or non-commercial).</li>
              <li>Remove the Fab Foundation watermark, any copyright, or other proprietary notations from the material.</li>
              <li>Transfer the material to another person or “mirror” the material on any other server.</li>
            </ul>
          </br> <p>Termination</p> </br>
          <p>We may terminate or immediately suspend access to the Fab Foundation website without prior notice or liability for any reason whatsoever, including, without limitation, for breaches to our Terms and Conditions.</p>
          </br> <p>All provisions of these Terms, which should survive termination, shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>
          </br> <p>Terms of Use Modifications</p> </br>
          <p>The Fab Foundation may revise these Terms at any time without notice. We reserve this right, at our sole discretion, to modify, or replace, these Terms and Conditions at any time. By using this website, you agree to be bound by the current version of these Terms and Conditions.</p>
          <p>By continuing to access and use our website after revisions take effect, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop accessing and using Fab Foundation’s website. We are committed to conducting our organization in accordance with these Terms to ensure that the confidentiality of personal information is protected and maintained.</p>
          </br> <p>Contact Us</p> </br>
          <p>If you have questions about these Terms and Conditions, contact us at info@fabfoundation.org</p>
          <p>Our contact information can also be found under our <a href="/privacypolicy">Privacy Policy</a></p>
          </br></br>
          <p>Updated: Feb 21, 2022<p>
            <p>Lead: Norella Coronell | Contributors: Ilenia Pennacchio, Chelsea Lynn, Luciano Betoldi, Jean-michel Molenaar</p>
          </div>
            </div>

        </div><!-- close sub-container -->
    </div> <!-- close container -->
</section>
