<!-- Top links section -->

<div id="twitter-section" data-aos="fade-up">
  <div id="video-band">
    <div class="container">
      <div class="dialog-icon"> </div>
      <div class="row no-side-margin video-text">
        <a href="" data-toggle="modal" data-target="#myModal">
          <p style="font-weight: bold; font-size: 2.1875rem"> Watch our story
            <i class="far fa-play-circle"></i></p>
        </a>
      </div>
    </div>
  </div>

<div class="container" id="news">
   <div class="row page-header">
      <div class="col-xs-12 col-lg-offset-6">
            <div class="intro-box" data-aos="fade-up">
                <div class="row highlights">
                    <div id="header-news-container">
                        {% for post in site.categories.blog limit:1 %}
                        {% if post.highlight == true %}
                        <a class="" href="{{ post.url | relative_url }}">
                            <div class="row no-side-margin highlight">
                                <!-- add redborder for a red border -->
                                <div class="col-xs-3 col-sm-3 col-md-3 img"
                                    style="background-image: url('{{ post.thumbnail | relative_url}}');"> </div>
                                <div class="col-xs-9 col-sm-9 col-md-9 text">
                                    <div class="title">{{ post.title }} </div>
                                    <div class="caption">
                                        <div class="latest-caption">{{ post.caption }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                        <a href="{{ site.baseurl }}/blog">
                            <h6 class="more-button"> More news >
                        </a>
                    </div>
                </div><!-- close highlights-->
            </div> <!-- close intro-box-->
      </div>
  </div>
</div>

<!-- End top links section -->


<!-- Video Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="video-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">If you could make almost anything, what would you do?</h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W0xnQ2OPBoU"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <p>Produced by <a href="http://wondros.com" target="_blank">Wondros</a> in 2016</p>
        <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
