<!-- Twitter Section -->
<div id="twitter-section" data-aos="fade-up">
  <div id="video-band">
    <div class="container">
      <div class="dialog-icon"> </div>
      <div class="row no-side-margin video-text">
        <a href="" data-toggle="modal" data-target="#myModal">
          <p style="font-weight: bold; font-size: 1.5rem"> Watch our story
            <i class="far fa-play-circle"></i></p>
        </a>
      </div>
    </div>
  </div>
  <div class="container" id="twitter">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 twitter-space">
        <a href="https://twitter.com/fabfndn" target="_blank">
          <div class="tweet-box">
            <div class="icon"><a href="https://twitter.com/fabfndn" target="_blank">
                <p class="account"> @FabFndn </p>
              </a><i class="fab fa-twitter"></i></i></div>
            <div class="tweet">
              <p>Loading latest tweet...</b></p>
            </div>
            <a href="https://twitter.com/fabfndn" target="_blank">
              <h6 class="h6-inverted"> Join the conversation > </h6>
            </a>
          </div>
        </a>
      </div>
    </div>
    {% comment %} <div class="row text-center intro-icons">
      {% for statement in site.data.home.about-claims.blueclaims %}
      <div class="col-sm-4 col-md-4 icons-box" data-aos="fade-up">
        <a href="{{ site.baseurl }}/{{ statement.link }}" target="_blank">
          <span class="icons-img" style="margin-bottom: 30px;">
            <div class="icon"> <img src="{{ site.baseurl }}/uploads/{{ statement.icon }}.svg" alt="{{statement.icon}}">
            </div>
          </span>
          <h5 class="h5-inverted" style="margin:0px;">{{ statement.title }}</h5>
        </a>
      </div>
      {% endfor %}
    </div> {% endcomment %}
  </div>
</div>
<!--close twitter section-->




<!-- Video Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="video-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">If you could make almost anything, what would you do?</h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W0xnQ2OPBoU"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <p>Produced by <a href="http://wondros.com" target="_blank">Wondros</a> in 2016</p>
        <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>