<!--Twitter subpage module template -->
<div class="container no-padding twitter-subpage" id="twitter-page">
	<div class="row no-side-margin text-center twitter-space" style="display: flex;" >
	    <div class="col-md-6 service-img" style="background-image: url('{{ site.baseurl }}/img/backgrounds/fab-academy.jpg');"></div>
	    
	    <a href="https://twitter.com/fabacademany">
        <div class="col-md-6 tweet-box" data-aos="fade-left">
            <div class="icon"><i class="fab fa-twitter link-grow"></i><p class="account">@Fabacademany </p></div>
            <div class="tweet-subpage box-grow">
                <p>Loading latest tweet... </p>
            </div>
            <a href="https://twitter.com/fabacademany"><h6 class="h6-inverted link-grow" > Join the conversation > </h6> </a>
        </div>           
	     </a>

    </div><!-- close twitter-space -->
</div> <!-- close container-->