<!--Standard section template -->
<section id="{{ include.texts.id }}" data-aos="fade-up" class="video-module">  
    <div class="container standard">

        <div class="sub-container">

            {% if include.texts.hastitle == true %}
            <div class="row">
                <div class="col-md-8">
                    <h3 class="h3-inverted section-heading">{{ include.texts.title }}</h3>
                </div>
            </div>
            {% endif %}

            {% if include.texts.hassubtitle == true %}
            <div class="row">
                <div class="col-md-8">
                    <p class="section-subheading">{{ include.texts.subtitle }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row video-box">
                <div class="col-md-12">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W0xnQ2OPBoU"></iframe>
                    </div>
                </div>
            </div>
            
            {% if include.texts.hasbuttons == true %}
            <div class="row">
                <div class="col-md-12">
                    {% for button in include.texts.buttons %}
                        {% if button.color == 'clear' %}
                            <a data-aos="fade-right" href="{{ button.url }}" class="page-scroll btn btn-clear right" target="_blank">{{ button.title }}</a>
                        {% else button.color == 'red' %}
                            <a data-aos="fade-right" href="{{ button.url }}" class="page-scroll btn btn-red right" target="_blank">{{ button.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div><!-- close sub-container --> 
    </div> <!-- close container -->

</section>